.header-container {
    position: relative;
    min-height: 300px;
	padding-top:40px;
}
.header-wrapper {
    max-width: 1160px;
    display: block;
    margin: 0 auto;
    position: relative;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper {
    max-width: 1160px;
    display: block;
    margin: 0 auto;
    position: relative;
	padding-top:20px;
	padding-bottom:20px;
	display:table;
}
section{
	display:table;	
}
.slider-container .header {
    top: 0;
    left: 0;
    z-index: 8899;
    padding-right: 20px;
}
.slider-container .header .body {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 25px;
}
span.headline {
	font-size: 15px;
	color: #DA291C;
}
.hero-description{
	font-size: 10px;
	margin-top: 20px;
}
.carousel-inner{
	background-image:url(../../js/Images/slide-bg.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-col2{
    text-align: right;
    bottom: 0px;
    position: relative;
    right: 0px;
	    padding-right: 0px;
}
.slider-col2 img {
    max-width: 500px;
}
.slider-container{
	padding-top:25px;
	padding-left:25px;
	padding-right:25px;	
}
.countdown-container{
	max-width:800px;
	margin:0 auto;
	color: #DA291C;
	
}
.timer-container{
	padding-top:20px;
	padding-bottom:30px;
}
span.Days, span.Hours, span.Minutes, span.Seconds{
	font-size:50px;
}
._3-col article{
	padding-top:20px;
	padding-bottom:20px;	
}
._3-col .step{
	padding-top:30px;	
	color:#00b4d0;
	font-weight:bold;
	font-size:20px;
}
._3-col .title{	
	color:#00b4d0;
	font-size:16px;
	padding-bottom:10px;
}
._3-col .desc{
	font-size:12px;
	padding-bottom:20px;
}
.social-share{
	margin:5px;	
}
.col-md-15 {
    width: 20%;
    float: left;
}
._5-col{
	padding-top:20px;
}
._5-col article{
	padding-top:20px;
	padding-bottom:20px;	
}
.cuadro_intro_hover{
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 160px;
	width:100%;
}
.cuadro_intro_hover:hover .caption{
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
}
.cuadro_intro_hover img{
	z-index: 4;
}
.cuadro_intro_hover .caption{
	position: absolute;
	top:125px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;
}
.cuadro_intro_hover .blur{
	background-color: rgba(218,41,28,0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.cuadro_intro_hover .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top:-20px;
	width: 100%;
}
.caption-text h4{
	margin-top:30px;	
}
.btn_3_round{
	border-radius: 0px 15px 15px 15px; 
	-moz-border-radius: 0px 15px 15px 15px; 
	-webkit-border-radius: 0px 15px 15px 15px; 
	border: 1px solid #68CADA;
	background:#68CADA;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	width:100px;
	color:#ffffff;
}
.col-md-7 h1{
	color: #DA291C;
		
}
.parallax-window {
    min-height: auto;
    background: transparent;
	
}
sup{
	font-size:12px;
	vertical-align: -webkit-baseline-middle;
}
sub{
	font-size:8px;
}
.btn_3_round a, .btn_3_round a:hover, .btn_3_round a:visited{
	color:#FFFFFF;
	text-decoration:none;	
}
.legal-head{
	color: #000000;
	text-decoration:underline;
	font-weight:bold;	
}
.legal-head a, .legal-head a:hover, .legal-head a:visited{
	color: #000000;
	text-decoration:underline;	
	font-weight:bold;
}
.legal{
    color: #000000;
    font-size: 10px;
}
@media (max-width: 768px) { 
	.slider-col2 img{
		display:none;	
	}
	.slider-container{
		padding-bottom:130px;
	}
	
}
/* extra Small devices (phone, 320px and up) */
@media (min-width: 320px) { 
	span.headline {
		font-size: 25px;
		color: #DA291C;
	} 
	.hero-description{
		font-size: 14px;
	}
	.content-module-fullbleedbanner {
    	min-height: 400px;
	}
	.header-slide-container{
		width:95%;
	}
	.col-md-15 {
        width: 100%;
        float: left;
    }
	.cuadro_intro_hover{
		width:240px;
		margin:0 auto;	
	}
	.slider-container{
		padding-left:2%;
	}
	
}
	
/* Smaller devices (phone, 480px and up) */
@media (min-width: 480px) { 
	span.headline {
		font-size: 21px;
		color: #DA291C;
	} 
	.hero-description{
		font-size: 14px;
	}
	.content-module-fullbleedbanner {
    	min-height: 400px;
	}
	.header-slide-container{
		width:80%;
	}
	.col-md-15 {
        width: 100%;
        float: left;
    }
	.cuadro_intro_hover{
		width:240px;
		margin:0 auto;	
	}
	.slider-container{
		padding-left:2%;
	}
	
}
/* Smaller devices (phone, 560px and up) */
@media (min-width: 560px) { 
	span.headline {
		font-size: 21px;
		color: #DA291C;
	} 
	.hero-description{
		font-size: 14px;
	}
	.content-module-fullbleedbanner {
    	min-height: 400px;
	}
	.header-slide-container{
		width:65%;
	}
	.col-md-15 {
        width: 100%;
        float: left;
    }
	.cuadro_intro_hover{
		width:240px;
	}
	.slider-container{
		padding-left:2%;
	}
	
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.slider-container {
		min-height: 500px;
	} 
	span.headline {
		font-size: 24px;
		color: #DA291C;
	} 
	.hero-description{
		font-size: 14px;
	}
	.content-module-fullbleedbanner {
    	min-height: 400px;
	}
	.header-slide-container{
		width:60%;
	}
	.col-md-15 {
        width: 20%;
        float: left;
    }
	.cuadro_intro_hover{
		width:100%;
	}
	.caption-text h4{
		margin-top:23px;	
	}
	.slider-container{
		padding-left:2%;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	span.headline {
		font-size: 27px;
		color: #DA291C;
	} 
	.hero-description{
		font-size: 15px;
	}
	.content-module-fullbleedbanner {
    	min-height: 500px;
	}
	.header-slide-container{
		width:50%;
	}
	.cuadro_intro_hover{
		width:100%;
	}
	.caption-text h4{
		margin-top:23px;	
	}
	.slider-container{
		padding-left:7%;
	}
	
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	span.headline {
		font-size: 33px;
		color: #DA291C;
	}
	.hero-description{
		font-size: 15px;
	}
	.content-module-fullbleedbanner {
    	min-height: 600px;
	}
	.header-slide-container{
		width:50%;
	}
	.cuadro_intro_hover{
		width:100%;
	}
	.caption-text h4{
		margin-top:30px;	
	}
	.slider-container{
		padding-left:8%;
	}
}

@media (min-width: 1400px) {
	.slider-container{
		padding-left:14%;
	}
}
@media (min-width: 1600px) {
	.slider-container{
		padding-left:20%;
	}
}

#entries {
	box-sizing: border-box;
	display: block;
	text-align: center;
}

#entries article {
    background: none;
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 384px;
}

#entries .inner-entry {
	background: #e5e5e5;
	height: 456px;
	position: relative;
	
}

#entries .img-wrapper {
    text-align: center;
    display: table;
    width: 366px;
	height: 366px;
	overflow: hidden;
}
    
#entries .img-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}
    
#entries .img-wrapper img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

#entries .caption-text {
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#entries .caption-text p {
	position: absolute;
	width: 75%;
	bottom: 0;
	left: 15px;
	text-align: left;
}

#entries .caption-text img {
	position: absolute;
	width: 10%;
	bottom: 15px;
	right: 15px;
}