#rogers-entries .entry .entry-inner {
  overflow-x: hidden;
  max-height: 410px;
  height: 410px;
}
#rogers-entries .entry .entry-inner .img-entry {
  width: 140%;
  margin-left: -20%;
  text-align: center;
  height: 260px;
  background: #888;
}
#rogers-entries .entry .entry-inner .img-entry img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  max-height: 100%;
}
