.rdentry {
    height: 460px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:nth-child(even) {
        background: #ddd;
    }
    img {
        max-width: 100%;
        max-height: 280px;
        display: block;
        margin: 0 auto;
    }
}

#sortable li,
#unsortable li {
    margin: 3px 6px 3px 0;
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    border: 3px solid #ddd;
    overflow: hidden;
    background: none;
    background-color: black;
    display: table;
    
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }
    
    img {
        max-height: 100%;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    p.smaller {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .btn_reject {
        position: absolute;
        top: 0;
        left: 0;
    }
    .btn_approve {
        position: absolute;
        top: 0;
        right: 0;
    }
}

p.smaller {
    font-size: 10px;
}